.log-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Kartlar arasında boşluk */
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .log-card {
    background-color: #242444;
    color: #f28324;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    flex: 1 1 calc(20% - 15px); /* 5 kart sığacak şekilde hesaplanır */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 180px; /* Kartların minimum genişliği */
  }
  
  .log-card h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .log-card p {
    margin: 5px 0;
  }
  