* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.login-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-clip: content-box;

}

.background-overlay {
  flex: 2;
  position: relative;
  background: url('../../../../assets/bg.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -10;
  width: 100vw;
  height: 100vh;
}



.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: none;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../../assets/bg.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.welcome-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4em;
  color: #f28324;
  text-align: center;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.highlight {
  font-weight: bold;
  color: #242444;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.login-form {
  background-color: #242444;
  padding: 40px 30px;
  color: #f28324;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

.options {
  margin-top: 20px;
}

.options-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-me {
  display: flex;
  align-items: center;
}

.register-button {
  background-color: #f28324;
  color: #242444;
  border: none;
  padding: 7px;
  border-radius: 5px;
  font-size: 14px;
}

.submit-button {
  background-color: #f28324;
  color: #242444;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  margin-top: 10px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #a45c2c;
  border-radius: 5px;
  background-color: #2c2c4c;
  color: #f28324;
}

label {
  font-size: 1em;
  margin-bottom: 5px;
}

a {
  color: #f28324;
  text-decoration: none;
}

button:hover {
  background-color: #a45c2c;
}
