<nav class="navbar">
    <div class="navbar-logo">
      <!-- Logonuz buraya gelebilir -->
    </div>
    <div class="navbar-links">
      <a routerLink="/market" routerLinkActive="active">Market</a>
      <a routerLink="/library" routerLinkActive="active">Library</a>
      <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
    </div>
    <div class="navbar-profile">

      <div class="profile-dropdown">
        <button (click)="toggleDropdown()" class="profile-button">
          Profile
        </button>
        <div class="dropdown-menu" [class.show]="isDropdownOpen">
          <a href="javascript:void(0);" class="dropdown-item" (click)="goToProfile()">Profile</a>
          <a href="javascript:void(0);" class="dropdown-item" (click)="goToSettings()">Settings</a>
          <a href="javascript:void(0);" class="dropdown-item" (click)="logout()" >Logout</a>
        </div>
      </div>


    </div>
  </nav>
  