<nav class="navbar">
    <div class="navbar-logo">
      <!-- Logonuz buraya gelebilir -->
    </div>
    <div class="navbar-links">
      
      <div *ngIf="userRole === 'member' ">
        <a routerLink="/market" routerLinkActive="active">Market</a>
        <a routerLink="/library" routerLinkActive="active">Library</a>
        <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
      </div>

      <div *ngIf="userRole === 'admin'">
        <a routerLink="/create-bundle" routerLinkActive="active">Create Bundle</a>
        <a routerLink="/all-logs" routerLinkActive="active">All Logs</a>
        <a routerLink="/remaining-courses" routerLinkActive="active">Remaining Courses</a>
        <!-- ALL INFO PAGE --> 
        <a routerLink="/calendar" routerLinkActive="active">Calendar</a>

      </div>


    </div>
    <div class="navbar-profile">

      <div class="profile-dropdown">
        <button (click)="toggleDropdown()" class="profile-button">
          Profile
        </button>
        <div class="dropdown-menu" [class.show]="isDropdownOpen">
          <a href="javascript:void(0);" class="dropdown-item" (click)="goToProfile()">Profile</a>
          <a href="javascript:void(0);" class="dropdown-item" (click)="goToSettings()">Settings</a>
          <a href="javascript:void(0);" class="dropdown-item" (click)="logout()" >Logout</a>
        </div>
      </div>


    </div>
  </nav>
  