.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

.calendar{
    width: 80%;
    max-width: 800px;
    height: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #242444;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
  color: #f28324;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background: #242444;
  padding: 20px;
  border-radius: 8px;
  color: #f28324;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #4CAF50;
}

.modal-button-yes {
  background-color: #4CAF50;
  color: white;
  margin-right: 5px;
}

.modal-button-yes:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.modal-button-no {
  background-color: #f44336;
  color: white;
  margin-left: 5px;
}

.modal-button-no:hover {
  background-color: #e53935;
  transform: scale(1.05);
}