<div class="modal" *ngIf="isVisible">
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <h2>Course Details</h2>
    <div class="content-container">
      <div class="bundle-card">
        <p>Bundle Name: {{ courses.bundleName }}</p>
        <p>Bundle Description: {{ courses.bundleDescription }}</p>
        <p>Total Lesson: {{ courses.totalLessonNumber }}</p>
      </div>
      <div class="courses-wrapper">
        <div class="left-column">
          <ng-container *ngFor="let course of courses.courses; let i = index">
            <ng-container *ngIf="i % 2 === 0">
              <div class="course-card">
                <p>Course Name: {{ course.courseName }}</p>
                <p>Course Description: {{ course.courseDescription }}</p>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="right-column">
          <ng-container *ngFor="let course of courses.courses; let i = index">
            <ng-container *ngIf="i % 2 === 1">
              <div class="course-card">
                <p>Course Name: {{ course.courseName }}</p>
                <p>Course Description: {{ course.courseDescription }}</p>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
