.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #242444;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #f28324;
  width: 70%;
  color: #f28324;
}

.close {
  color: #f28324;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bundle-card {
  width: 80%;
  padding: 20px;
  border: 1px solid #f28324;
  border-radius: 8px;
  background-color: #33334d;
  text-align: center;
  margin-bottom: 20px;
}

.courses-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-column,
.right-column {
  width: 45%;
}

.course-card {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #a45c2c;
  border-radius: 4px;
  background-color: #444466;
}
