.card {
  border: 2px solid #f28324;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  background-color: #242444;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  color: #ffffff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 1.7em;
  margin-bottom: 12px;
  color: #f28324;
}

.card-text {
  line-height: 1.8;
  color: #ffffff;
}

.progress-button {
  background-color: #f28324;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  position: relative;
  border: none;
}

.progress-button:hover {
  background-color: #a45c2c;
  transform: translateY(-2px);
}

.progress-button:disabled {
  background-color: #d6d6d6;
  color: #a1a1a1;
  cursor: not-allowed;
  border: 1px solid #ccc;
  opacity: 0.6;
}

.progress-button:disabled::after {
  content: 'Please finish the bundle you started.';
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  display: block;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s, visibility 0.7s;
}

.progress-button:disabled:hover::after {
  opacity: 1;
  visibility: visible;
}

.status-not {
  color: #f44336;
}

.status-processing {
  color: #f28324;
}

.status-finished {
  color: #4CAF50;
}
