.bundle-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .bundle-card h3 {
    margin-top: 0;
  }

  .buy-button {
    background-color: #4CAF50; /* Yeşil */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    right: 20px; /* Sağdan boşluk bırak */
    bottom: 20px; /* Alttan boşluk bırak */
    cursor: pointer;
  }
  
  .buy-button:hover {
    background-color: #45a049;
  }
  
  .preview-button {
    background-color: #d0d32a; /* Yeşil */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    right: 20px; /* Sağdan boşluk bırak */
    bottom: 20px; /* Alttan boşluk bırak */
    cursor: pointer;
  }
  
  .preview-button:hover {
    background-color: #5d7717;
  }
  